.type-sider {
    margin-left: 256px;
    width: 150px!important;
    min-width: 150px!important;
    border-left: 1px solid #235d32;
}
.type-content {
    margin-top:0px;
    padding:20px;
    margin-left: 150px;
    background-color: #061006;
}