.ant-layout {
    background: #131313;
}
.ant-layout-header,
.ant-layout-footer,
.ant-layout-content {
    padding-left: 0;
    padding-right: 0;
}
.ant-layout-header,
.ant-layout-footer {
    /*background: #e0e0e0;*/
    /*color: #000;*/
}
.ant-layout-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-right: 20px;
    padding-left: 0;
    margin-left: 256px;
    line-height: 48px;
    height: 48px;
}
.ant-layout-sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    width: 256px !important;
    flex: 0 0 256px !important;
    max-width: 256px !important;
    min-width: 256px !important;
    padding: 0 !important;
}
/*.ant-layout-sider-dark {*/
/*    overflow: auto;*/
/*    height: 100vh;*/
/*    position: fixed;*/
/*    left: 0;*/
/*    width: 256px !important;*/
/*    flex: 0 0 256px;*/
/*    max-width: 256px;*/
/*    min-width: 256px*/
/*}*/
.ant-layout-content {
    margin-top: 48px;
    padding-bottom: 0;
    margin-left: 256px;
}
.ant-layout-footer {
    padding-top: 12px;
    padding-bottom: 12px;
}
.ant-form-item {
    margin-bottom: 12px;
}
.ant-menu {
    padding-left: 10px;
    padding-right: 10px;
}
.ant-menu-submenu-title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    font-weight: bold;
}
.ant-menu-item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 12px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 40px !important;
    line-height: 40px !important;
    white-space: normal !important;
    background-color: #1f1f1f;

    vertical-align: middle;
}
.ant-menu-item:first-child {
    margin-top: 0 !important;
    line-height: 40px !important;
    height: 40px !important;
    white-space: normal !important;
    padding-left: 12px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.ant-menu-item-selected {
    background-color: #1f1f1f !important;
    color: #6fff25 !important;
}
.ant-menu-submenu-selected {
    /*background-color: #1f1f1f !important;*/
    color: #6fff25 !important;
}
h1.ant-typography {
    font-size: 30px;
    text-shadow: 0 0 8px #2b5822;
    animation: glow1 50000ms linear infinite 40000ms;
}
h2.ant-typography {
    font-size: 26px;
}

h3.ant-typography {
    font-size: 22px;
}

h4.ant-typography {
    font-size: 18px;
}

h5.ant-typography {
    font-size: 14px;
}
a.ant-typography {
    color: #4ec31b;
}
a.ant-typography:hover {
    color: #4ec31b;
    opacity: 0.85;
}
a.ant-typography:visited {
    color: #4ec31b;
    opacity: 0.85;
}
.ant-tabs-tab-btn {
    color: #6fff25 !important;
}
@keyframes glow1 {
    40% {
        text-shadow: 0 0 8px #3d8833;
    }
}
[data-theme="dark"] .site-layout-content {
    /*background: #555555;*/
}
[data-theme="nicotine"] .site-layout-content {
    /*background: #5987F5;*/
}
[data-theme="dark"] .logo {
    /*background: rgba(255,255,255,1);*/
}