.ant-layout-header,
.ant-layout-footer,
.ant-layout-content {
    padding-left: 20px;
    padding-right: 0px;
}
.ant-layout-header,
.ant-layout-footer {
    /*background: #e0e0e0;*/
    /*color: #000;*/
}
.ant-layout-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-right: 20px;
    padding-left: 0px;
    margin-left: 200px;
}
.ant-layout-sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}
.ant-layout-content {
    margin-top: 64px;
    padding-bottom: 24px;
    margin-left: 200px;
}
.ant-layout-footer {
    padding-top: 12px;
    padding-bottom: 12px;
}
.ant-form-item {
    margin-bottom: 12px;
}
[data-theme="dark"] .site-layout-content {
    background: #555555;
}
[data-theme="nicotine"] .site-layout-content {
    background: #5987F5;
}
[data-theme="dark"] .logo {
    background: rgba(255,255,255,0.3);
}