a {
  color: #5cd61f;
}

a:hover {
  color: #5cd61f;
  opacity: 0.85;
}
a:visited {
  color: #5cd61f;
  opacity: 0.85;
}
.layout {
  max-width: 100%;
  overflow: hidden;
}

.site-layout-content {
  /*padding: 20px 20px 20px 40px;*/
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 48px);
  background-color: #061006;
}

.content-item {
  padding: 20px;
  background-color: #1f1f1f;
  /*margin-left: 40px;*/
}

/*.sider {*/
/*  padding: 0 10px;*/
/*}*/

.menuTitle {
  margin-top:10px;
  margin-bottom:0px!important;
}

.header {
  border-bottom: 1px solid #235d32;
}

.site-drawer-render-in-current-wrapper {
  position: relative;
  /*overflow: hidden;*/
}

.button-square {
  border-radius: 3px;
}

.button-linkbutton {
  color: #5cd61f;
}