.digicrafter {
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    color: transparent;
    animation: reveal 2000ms ease-in-out forwards 200ms,
    glow 40000ms linear infinite 32000ms;
    text-shadow: 0 0 8px #408f36;
    margin-bottom: 2px !important;
    white-space: nowrap;
    letter-spacing: -8px;
}

.digicrafter:hover {
    color: white;
    cursor: pointer;
}

.digicrafterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height:48px;
    padding-right:20px;
    border-bottom: 1px solid #235d32;
}

@keyframes reveal {
    0%{
    }
    80%{
        letter-spacing: 8px;
    }
    100% {
        letter-spacing: 5px;
        background-size: 300% 300%;
    }
}
@keyframes glow {
    40% {
        text-shadow: 0 0 8px #49a53f;
    }
}

