.dclist {
    background-color: #1f1f1f;
    border-left: 1px solid #061006;
    border-top: 1px solid #061006;
    padding: 10px 10px 10px 16px;
    height: 100%;
}

.dcform {
    margin-top: 0;
    background-color: #1f1f1f;
    border-left: 1px solid #061006;
    border-top: 1px solid #061006;
    height: 100%;
    padding: 10px 10px 10px 16px;
}

.infobutton {
    color: #20d1ff;
}

.ant-table-row-level-0 {
    border-bottom: 1px solid #177ddc!important;
}

.ant-table-selection-column {
    display: none;
}