.ant-form-item {
    margin-bottom: 0;
    border-top: 1px solid #1f1f1f;
    background-color: #141414;
    margin-top: -1px;
}
.ant-input {
    border: 1px solid rgba(0, 0, 0, 0);
}
.ant-select-selector {
    border: none;
}
.ant-form-item-label {
    text-align: left;
    border-right: 1px solid #1f1f1f;
    padding-left: 7px;
    margin-top: 2px;
}
.ant-form-item-control {
    border: 1px solid rgba(0, 0, 0, 0);
}
input {
    text-align: right;
    border: 1px solid rgba(0, 0, 0, 0);
}