.sider {
    background-color: #1f1f1f;
    border-left: 1px solid #235d32;
    position: fixed;
    left: 0;
    min-width: 768px;
    max-width: 768px;
    margin-left: 256px;
    padding: 12px;
    /*white-space: normal;*/
}