
.layout {
  max-width: 100%;
  overflow: hidden;
}

.site-layout-content {
  padding: 20px 20px 20px 40px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 48px);
}

.content-content {
  padding: 20px;
  background-color: #1f1f1f;
}

/*.sider {*/
/*  padding: 0 10px;*/
/*}*/

.menuTitle {
  margin-top:10px;
  margin-bottom:0px!important;
}
